.main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: #ededed;
}

.search__items {
  background-color: #fff;
  max-width: 900px;
  margin: 0 auto;
}

.item-container {
  background-color: #fff;
  max-width: 900px;
  margin: 0 auto;
}
