$color-primary: #fff159;
$color-background: #fff;
$color-buttonbg: #3483fa;
$color-descriptiontxt: #666;
$color-borderbtn: #eee;
$color-itemColor: #333;

$font-xl: 36px;
$font-lg: 24px;
$font-subTitle: 20px;
$font-md: 16px;
